section {
    margin: 100px;
}
.triangle{
    width: 200px;
    height: 200px;
    /* border-top: 100px solid transparent; */
    border-left:100px solid rgb(167, 245, 156);
    /* border-right: 100px solid transparent;
    border-bottom: 100px solid transparent; */
    clip-path: polygon(84% 0, 0% 100%, 63% 100%);
}


.box{
    
}
.online{
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1;
    position: relative;
    text-align: center;
 
}


.online::after{
    content: "";
    height: 2px;
    width: 80px;
    background-color: tomato;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


.course {
    font-size: 48px;
    text-align: center;
    position: relative;
}

.course::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: tomato;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    z-index: 2;

}

.signup{
    padding: 15px;
    background-color: thistle;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.signup:hover::after{
    content: "點按即同意隱私權";
    position: absolute;
    display: inline-block;
    padding: 10px;
    width: 200px;
    background-color: bisque;
    border-radius: 10px;
    top: -60px;
    right:-120px;
    z-index: 2;
}

.signup:hover::before{
    content: "";
    position: absolute;
    display: inline-block;
    border-top: 25px solid bisque ;
    border-left:25px solid transparent ;
    border-right:25px solid transparent;
    top:-25px ;
    right:-30%;
    transform: translateX(-60%);
    z-index: 2;
}