section {
    margin: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: thistle;
}





.gowocard{
    margin: 10px 0px;
    width: calc(25% - 15px);
    background-color: bisque;
    
}

.gowotop{
    position: relative;

}
.gowoimg{
    aspect-ratio: 4/3;
    object-fit: cover;
   

}

.yohui {
    position: absolute;
    left:-10px;
    top:20px;
    background-color: red;
    padding: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 3px 5px 0px gray;
}

.yohui::after{
    content: "";
    position: absolute;
    display: inline-block;
    border: 6px solid rgb(105, 29, 15);
    clip-path: polygon(100% 100%, 0 0, 100% 0);
    bottom:-12px ;
    left:0;
    z-index: 2;
}

.img-wrap{
    position: relative;
    overflow: hidden;
}

.hot::before{
    content: "HOT";
    position: absolute;
    right: -38px;
    top: 10px;
    transform: rotate(45deg);
    color: #fff;
    background-color: rgb(253, 149, 30);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding:  0px 38px;
    padding-top: 3px;
    box-shadow: 0px 1px 1px 0px grey;
    
}

.gowodown{
    padding: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;

}
h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 13px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
